<div class="image-container" style="position: relative; margin-bottom: 40px;">
  <img src="https://img.freepik.com/free-photo/empty-sea-beach-background_74190-1749.jpg" style="height: 200px; width: 100%;" class="img-fluid" alt="...">
  <div class="text-overlay" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
    <h1 style="color: black; font-size: 30px;">Checkout</h1>
  </div>
</div>