<section class="footer pt-5 pb-4 ">
          <div class="container">
            <div class="row">
              <div class="col-lg-5 col-md-4 col-12 mb-4">
                <div class="footer-inner">
                  <h2>Beach Fire Guy</h2>
                  <p class="w-75">We rent equipment for your beach fire and also love doing special events! From small group gatherings to large parties, we provide everything you need to have a traditional San Diego beach fire experience.  </p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-12">
                <div class="footer-inner">
                <h2>Quick links</h2>
                 <ul>
                  <li><a href="/services/new">Packages</a></li>
                  <li><a href="/services/new">Book Now</a></li>
                  <div class="dropdown">
                  <li><a class="dropdown" href="#"
                      id="dropdownMenuButton"
                      data-mdb-toggle="dropdown"
                      aria-expanded="false">About</a> </li>
                   <ul class="ms-3 dropdown-menu " aria-labelledby="dropdownMenuButton">
                      <li><a class="dropdown-item" href="/galleries">Gallery</a></li>
                      <li><a class="dropdown-item" href="/service_locations/index">Locations</a></li>
                    </ul>    
                  </div>
                 </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-12">
              <div class="footer-inner">
              <h2>Customer Support</h2>
                <ul>
                <li><a href="/contacts/new">Contacts us</a></li>
                <li><a href="/faqs/index">FAQs</a></li>
                <li><a href="/term_services/index" target="_blank">Terms and Services</a></li>
                <li><a href="/privacy_policies/index" target="_blank">Privacy Policy</a></li>
                </ul>
             </div>
              </div>
            </div>
            <div class="row border-top pt-4 mt-5">
              <div class="col-lg-6 col-md-6 col-sm-7">
                <div class="copy-right-text">
                  <p>© 2023 Copyright: beachfireguy.com</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-4 col-sm-5">
              <div class="social-media">
                <ul>
                  <li><a class="" href="#!" data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a class="" href="#!" data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a></li>
                  <li><a class="" href="#!" data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a></li>
                  <li><a class="" href="#!" data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a></li>
                  <li><a class="" href="#!" data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
            </div>
          </div>
  </section>




  
